@font-face {
  font-family: 'alegreyabold';
  src: url('/fonts/alegreya-bold-webfont.eot');
  src: url('/fonts/alegreya-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/alegreya-bold-webfont.woff2') format('woff2'), url('/fonts/alegreya-bold-webfont.woff') format('woff'), url('/fonts/alegreya-bold-webfont.ttf') format('truetype'), url('/fonts/alegreya-bold-webfont.svg#alegreyabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alegreyaregular';
  src: url('/fonts/alegreya-regular-webfont.eot');
  src: url('/fonts/alegreya-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/alegreya-regular-webfont.woff2') format('woff2'), url('/fonts/alegreya-regular-webfont.woff') format('woff'), url('/fonts/alegreya-regular-webfont.ttf') format('truetype'), url('/fonts/alegreya-regular-webfont.svg#alegreyaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'andadabold';
  src: url('/fonts/andada-bold-webfont.eot');
  src: url('/fonts/andada-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/andada-bold-webfont.woff2') format('woff2'), url('/fonts/andada-bold-webfont.woff') format('woff'), url('/fonts/andada-bold-webfont.ttf') format('truetype'), url('/fonts/andada-bold-webfont.svg#andadabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'andadaregular';
  src: url('/fonts/andada-regular-webfont.eot');
  src: url('/fonts/andada-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/andada-regular-webfont.woff2') format('woff2'), url('/fonts/andada-regular-webfont.woff') format('woff'), url('/fonts/andada-regular-webfont.ttf') format('truetype'), url('/fonts/andada-regular-webfont.svg#andadaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dynalightregular';
  src: url('/fonts/dynalight-regular-webfont.eot');
  src: url('/fonts/dynalight-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/dynalight-regular-webfont.woff2') format('woff2'), url('/fonts/dynalight-regular-webfont.woff') format('woff'), url('/fonts/dynalight-regular-webfont.ttf') format('truetype'), url('/fonts/dynalight-regular-webfont.svg#dynalightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas_neuebold';
  src: url('/fonts/bebasneue_bold-webfont.eot');
  src: url('/fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/bebasneue_bold-webfont.woff2') format('woff2'), url('/fonts/bebasneue_bold-webfont.woff') format('woff'), url('/fonts/bebasneue_bold-webfont.ttf') format('truetype'), url('/fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aguafina_scriptregular';
  src: url('/fonts/fontsaguafinascript-regular-webfont.eot');
  src: url('/fonts/aguafinascript-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/aguafinascript-regular-webfont.woff2') format('woff2'), url('/fonts/aguafinascript-regular-webfont.woff') format('woff'), url('/fonts/aguafinascript-regular-webfont.ttf') format('truetype'), url('/fonts/aguafinascript-regular-webfont.svg#aguafina_scriptregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alex_brushregular';
  src: url('/fonts/alexbrush-regular-webfont.eot');
  src: url('/fonts/alexbrush-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/alexbrush-regular-webfont.woff2') format('woff2'), url('/fonts/alexbrush-regular-webfont.woff') format('woff'), url('/fonts/alexbrush-regular-webfont.ttf') format('truetype'), url('/fonts/alexbrush-regular-webfont.svg#alex_brushregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f5f5dC;
}

a {
  text-decoration: none;
}

a:visited {
  color: #b22222;
}

h1 {
  font-size: 3em;
  font-family: 'dynalightregular', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  margin-left: 25px;
}

h2, h3, h4, h5, h6 {
  font-family: "alegreyaregular", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 25px;
}

.navBar {
  margin-left: 5px;
  margin-top: 5px;
}

.navBar a {
  padding-left: 5px;
  padding-right: 5px;
}

.navLeft {
  padding: 5px;
  background-color: #ff7f50;
  border-radius: 5px;
}

.eric {
  max-width: 75%;
}
